<!DOCTYPE html>
<html>
	<head>
		<title>Worklist Application</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/lib/semantic-ui-css/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
		<link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
		<script type="text/javascript" src="/scripts/lib/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="/scripts/lib/semantic-ui/semantic.min.js"></script>
		<script type="text/javascript" src="/scripts/selectFacility.js"></script>
	</head>

	<body>
		<div class="ui fixed borderless main menu">
			<div class="ui container">
				<a class="header item" href="/">
					<img src="/images/logo.png">
					Ethos Management
				</a>
				<a class="ui item facility-modal">
					<i class="hospital icon"></i>
					<% if(sess.facility) { %>
						<%= sess.facility %>
					<% } %>
				</a>
				<!-- Select Facility modal -->
				<div id="facility-modal" class="ui basic modal">
					<div class="ui icon header">
						<i class="hospital icon"></i>
						Facility
					</div>
					<div class="content">
						<p>Select a facility to continue</p>
					</div>
					<div class="actions">
						<div class="ui three column grid">
							<div class="row">
								<div class="column">
									<a class="ui inverted button" href="/accounts?fac=ANH">
										ANH
									</a>
								</div>
								<div class="column">
									<a class="ui inverted button" href="/accounts?fac=GAR">
										GAR
									</a>
								</div>
								<div class="column">
									<a class="ui inverted button" href="/accounts?fac=GEM">
										GEM
									</a>
								</div>
							</div>
							<div class="row">
								<div class="column">
									<a class="ui inverted button" href="/accounts?fac=MPH">
										MPH
									</a>
								</div>
								<div class="column">
									<a class="ui inverted button" href="/accounts?fac=SGV">
										SGV
									</a>
								</div>
								<div class="column">
									<a class="ui inverted button" href="/accounts?fac=WHT">
										WHT
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a class="ui item <%= typeof page !== 'undefined' && page === 'home' ? 'active' : '' %>" href="/accounts">
					<i class="home icon"></i>
					Home
				</a>
				<% if(sess.facility) { %>
					<a class="ui item" href="/accounts/export">
						<i class="download icon"></i>
						Export Accounts
					</a>
				<% } %>

				<div class="right menu">
					<% if(!currentUser) { %>
						<a class="ui item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>" href="/login">Login</a>
					<% } else { %>
						<a class="ui item">Hello, <%= currentUser.firstName %></a>
						<% if(currentUser.isAdmin) { %>
							<a class="ui item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>" href="/register">Register</a>
						<% } %>
						<a class="ui item" href="/logout">Logout</a>
					<% } %>
				</div>
			</div>
		</div>

		<% if(success && success.length > 0) { %>
			<div class="flash-message container">
				<div class="ui visible success message">
					<%= success %>
				</div>
			</div>
		<% } %>
		<% if(error && error.length > 0) { %>
			<div class="flash-message container">
				<div class="ui visible error message">
					<%= error %>
				</div>
			</div>
		<% } %>
		<% if(info && info.length > 0) { %>
			<div class="flash-message container">
				<div class="ui visible info message">
					<%= info %>
				</div>
			</div>
		<% } %>