<% include ../partials/header %>

<div class="ui main text container">
	<div class="ui huge header">Edit Account</div>
	<form class="ui form" action="/accounts/<%= account._id %>?_method=PUT" method="POST">
		<!-- PATIENT DETAILS -->
		<h4 class="ui dividing header">Patient Details</h4>
		<div class="ui segment">
			<div class="field">
				<label>Account #</label>
				<input autofocus type="text" name="account[number]" value="<%= account.number %>" maxlength="8" required>
			</div>
			<div class="field">
				<div class="two fields">
					<div class="field">
						<label>First Name</label>
						<input type="text" name="account[firstName]" value="<%= account.firstName %>">
					</div>
					<div class="field">
						<label>Last Name</label>
						<input type="text" name="account[lastName]" value="<%= account.lastName %>">
					</div>
				</div>
			</div>
			<div class="field">
				<label>Date of Birth</label>
				<input type="date" name="account[dob]" value="<%= moment(account.dob).format("MM/DD/YYYY") %>">
			</div>
			<div class="field">
				<div class="two fields">
					<div class="field">
						<label>Admit</label>
						<input type="date" name="account[admit]" value="<%= moment(account.admit).format("MM/DD/YYYY") %>">
					</div>
					<div class="field">
						<label>Discharge</label>
						<input type="date" name="account[discharge]" value="<%= moment(account.discharge).format("MM/DD/YYYY") %>">
					</div>
				</div>
			</div>
			<div class="two fields">
				<div class="field">
					<label>Total Charges</label>
					<input type="number" step="0.01" name="account[charges]" value="<%= account.charges %>">
				</div>
				<div class="field">
					<label>Current Balance</label>
					<input type="number" step="0.01" name="account[balance]" value="<%= account.balance %>">
				</div>
			</div>

			<h4 class="ui dividing header">Account Status</h4>
			<div class="field">
				<label>Type</label>
				<select name="account[type]">
					<% var types = ["Commercial", "Medicare", "Agency", "Resolved"] %>
					<% types.forEach(function(type) { %>
						<option value="<%= type %>" "<%= account.type === type ? "selected" : "" %>"><%= type %></option>
					<% }); %>
				</select>
			</div>
			<div class="field">
				<label>Status</label>
				<select name="account[status]">
					<% var statuses = ["", "Appeal Denied", "Appeal in Process", "Assign to Legal", "Pending Appeal Status", "Pending Baby Balance Transfer", "Pending CIF Retraction", "Pending Commercial Recoupment", "Pending Hardcopy RA", "Pending HMS Refund", "Pending HMS Retraction", "Pending Primary Payment", "Pending Secondary Payment", "Pending Underpayment", "Secondary Claim Denied", "Other"]; %>
					<% statuses.forEach(function(status) { %>
						<option value="<%= status %>" <%= account.status === status ? "selected" : "" %>><%= status %></option>
					<% }); %>
				</select>
			</div>
		</div>

		<!-- COMMERCIAL -->
		<h4 class="ui dividing header">Commercial</h4>
		<div class="ui segment">
			<div class="two fields">
				<div class="field">
					<label>Financial Class</label>
					<select name="account[commercial][fc]">
						<% var fcs = ["", "GD", "HF", "RC", "SY"]; %>
						<% fcs.forEach(function(fc) { %>
							<option value="<%= fc %>" <%= account.commercial.fc === fc ? "selected" : "" %>><%= fc %></option>
						<% }) %>
					</select>
				</div>
				<div class="field">
					<label>Payer</label>
					<input type="text" name="account[commercial][payer]" value=<%= account.commercial.payer >
				</div>
			</div>
			<div class="two fields">
				<div class="field">
					<label>Insured Id</label>
					<input type="text" name="account[commercial][insuredId]" value="<%= account.commercial.insuredId %>">
				</div>
				<div class="field">
					<label>Eligibility</label>
					<span>
						<input type="radio" name="account[commercial][isEligible]" value="true" checked>
						<label>Yes</label>
					</span>
					<span>
						<input type="radio" name="account[commercial][isEligible]" value="false">
						<label>No</label>
					</span>
				</div>
			</div>
			<div class="field">
				<label>Status</label>
				<select name="account[commercial][status]">
					<% var statuses = ["", "Appeal Denied", "Billed", "Denied", "Paid", "Payment Included in Other Services", "Assigned to Legal", "No Expected Reimbursement"]; %>
					<% statuses.forEach(function(status) { %>
						<option value="<%= status %>" <%= account.commercial.status === status ? "selected" : "" %>><%= status %></option>
					<% }) %>
				</select>
			</div>
			<div class="two fields">
				<div class="field">
					<label>Billed Date</label>
					<input type="date" name="account[commercial][billedDate]" value="<%= moment(account.commercial.billedDate).format("MM/DD/YYYY") %>">
				</div>
				<div class="field">
					<label>Expected Reimbursement</label>
					<input type="number" step="0.01" name="account[commercial][expected]" value="<%= account.commercial.expected %>">
				</div>
			</div>
			<div class="three fields">
				<div class="field">
					<label>Payment Date</label>
					<input type="date" name="account[commercial][paidOn]" value="<%= moment(account.commercial.paidOn).format("MM/DD/YYYY") %>">
				</div>
				<div class="field">
					<label>Payment Amount</label>
					<input type="number" step="0.01" name="account[commercial][reim]" value="<%= account.commercial.reim %>">
				</div>
				<div class="field">
					<label>Patient Liability</label>
					<input type="number" step="0.01" name="account[commercial][soc]" value="<%= account.commercial.soc %>">
				</div>
			</div>
		</div>

		<!-- MEDI-CAL -->
		<h4 class="ui dividing header">Medi-cal</h4>
		<div class="ui segment">
			<div class="three fields">
				<div class="field">
					<label>Cycle #</label>
					<input type="text" name="account[mcal][cycle]" value="<%= account.mcal.cycle %>">
				</div>
				<div class="field">
					<label>HMS Issue Date</label>
					<input type="date" name="account[mcal][hmsIssueDate]" value="<%= moment(account.mcal.hmsIssueDate).format("MM/DD/YYYY") %>">
				</div>
				<div class="field">
					<label>HMS Close Date</label>
					<input type="date" name="account[mcal][hmsCloseDate]" value="<%= moment(account.mcal.hmsCloseDate).format("MM/DD/YYYY") %>">
				</div>
			</div>
			<div class="three fields">
				<div class="field">
					<label>AR Trans Number</label>
					<input type="text" name="account[mcal][arTrans]" value="<%= account.mcal.arTrans %>">
				</div>
				<div class="field">
					<label>Retraction RA Date</label>
					<input type="date" name="account[mcal][retractionDate]" value="<%= moment(account.mcal.retractionDate).format("MM/DD/YYYY") %>">
				</div>
				<div class="field">
					<label>Recoupment Amount</label>
					<input type="number" step="0.01" name="account[mcal][recoup]" value="<%= account.mcal.recoup %>">
				</div>
			</div>
			<div class="two fields">
				<div class="field">
					<label>CIF Date</label>
					<input type="date" name="account[mcal][cifDate]" value="<%= moment(account.mcal.cifDate).format("MM/DD/YYYY") %>">
				</div>
				<div class="field">
					<label>CIF Amount</label>
					<input type="number" step="0.01" name="account[mcal][cifAmount]" value="<%= account.mcal.cifAmount %>">
				</div>
			</div>
		</div>
		<input class="ui button" type="submit">
	</form>
</div>

<% include ../partials/footer %>