<% include ../partials/header %>

<div class="ui grid main container">
	<div class="three wide field column">
		<div class="ui secondary vertical menu">
			<!-- PAGE NAVIGATION -->
			<a onclick="setActiveItem()" class="item active" href="#">Patient Info</a>
			<a onclick="setActiveItem()" class="item" href="#">Insurance</a>
			<a onclick="setActiveItem()" class="item" href="#comments">Comments</a>
		</div>
	</div>

	<div class="thirteen wide field column">
		<!-- HEADER -->
		<h2 class="ui center aligned icon header">
			<i class="circular id card outline icon"></i>
		</h2>
		<!-- ACCOUNT SETTINGS -->
		<div class="ui secondary menu">
			<div class="right menu">
				<span class="right floated item">Added by <%= account.author.username %> <%= moment(account.createdAt).fromNow() %></span>
				<% if(currentUser && (account.author.id.equals(currentUser._id) || currentUser.isAdmin)) { %>
					<div class="item">
						<a data-tooltip="Edit" data-position="top center" href="/accounts/<%= account._id %>/edit">
							<i class="edit link icon"></i>
						</a>
					</div>
					<div class="item">
						<form action="/accounts/<%= account._id %>?_method=DELETE" method="POST">
							<button class="delete" data-tooltip="Delete" data-position="top center">
								<i class="trash link icon"></i>
							</button>
						</form>
					</div>
				<% } %>
			</div>
		</div>
		
		<!-- PATIENT DETAILS -->
		<table class="ui definition table">
			<tbody>
				<tr>
					<td class="four wide column">Account #</td>
					<td><%= account.number %></td>
				</tr>
				<tr>
					<td>Patient Name</td>
					<td><%= account.lastName %>, <%= account.firstName %></td>
				</tr>
				<tr>
					<td>Current Balance</td>
					<td>$<%= account.currentBalance.toFixed(2) %></td>
				</tr>
			</tbody>
		</table>
	
		<!-- Comments Section START -->
		<div id="comments" class="ui segment">
			<div class="ui grid">
				<div class="sixteen wide column">
					<div class="ui fluid accordion">
						<div class="title">
							<div class="ui two column grid">
								<div class="column">
									<!-- Comments section title -->
									<h3 class="ui header">
										<i class="comment outline icon"></i>
										Comments
									</h3>
								</div>
								<!-- Add new comment button toggles collapsible comment box -->
								<div class="column">
									<button class="ui right floated labeled green icon button">
										<i class="plus inverted icon"></i>
										Add Comment
									</button>
								</div>
							</div>
						</div>
						<div id="collapseComment" class="content">
							<h4>
								Write your comment
								<i class="write icon"></i>
							</h4>
							<form class="ui form transition visible" action="/accounts/<%= account._id %>/comments" method="POST">
								<div class="field">
									<textarea autofocus name="comment[content]" placeholder="Write your comment..." required></textarea>
								</div>
								<button class="ui labeled icon button">
									<i class="comment outline icon"></i>
									Submit  
								</button>
							</form>
						</div>
					</div>
				<div class="ui divider"></div>
				</div>

				<!-- DISPLAY COMMENTS -->
				<div class="sixteen wide column">
					
					<div class="ui comments">
						<% account.comments.forEach(function(comment) { %>
							<div class="comment">
								<div class="content">
									<span class="author"><%= comment.author.username %></span>
									<div class="metadata">
										<span class="date"><%= moment(comment.createdAt).fromNow() %></span>
									</div>
									<div class="text">
										<p><%= comment.content %></p>
									</div>
									<% if(currentUser && currentUser.isAdmin) { %>
										<div class="actions">
											<a href="/accounts/<%= account._id %>/comments/<%= comment._id %>/edit">Edit</a>
											<a>
												<form action="/accounts/<%= account._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
													<input class="delete" type="submit" value="Delete">
												</form>
											</a>
										</div>
									<% } %>
								</div>
							</div>
						<% }) %>
					</div>
				</div>
			</div>
		</div>
		<!-- Comments Section END -->
	</div>
</div>

<script type="text/javascript" src="/scripts/show.js"></script>

<!-- initialize accordion -->
<script type="text/javascript">
	$(document).ready(function() {
		$(".ui.accordion").accordion();
	});
</script>

<% include ../partials/footer %>