<% include ../partials/header %>

<div class="ui grid main container">
	<div class="three wide field column">
		<div class="ui secondary vertical menu">
			<!-- PAGE NAVIGATION -->
			<a onclick="setActiveItem()" class="item active" href="#">Patient Info</a>
			<a onclick="setActiveItem()" class="item" href="#">Insurance</a>
			<a onclick="setActiveItem()" class="item" href="#comments">Comments</a>
		</div>
	</div>

	<div class="thirteen wide field column">
		<!-- HEADER -->
		<h2 class="ui center aligned icon header">
			<i class="circular id card outline icon"></i>
		</h2>
		<!-- ACCOUNT SETTINGS -->
		<div class="ui secondary menu">
			<div class="right menu">
				<span class="right floated item">Added by <%= account.author.username %> <%= moment(account.createdAt).fromNow() %></span>
				<% if(currentUser && (account.author.id.equals(currentUser._id) || currentUser.isAdmin)) { %>
					<!-- Edit -->
					<div class="item">
						<a data-tooltip="Edit" data-position="top center" href="/accounts/<%= account._id %>/edit">
							<i class="edit link icon"></i>
						</a>
					</div>
					<!-- Delete -->
					<div class="item">
						<!-- Delete modal toggle -->
						<a class="delete-modal" data-tooltip="Delete" data-position="top center">
							<i class="trash link icon"></i>
						</a>
						<!-- Delete Confirmation modal -->
						<div class="ui small basic modal">
							<div class="ui icon header">
								<i class="trash link icon"></i>
								Delete Confirmation
							</div>
							<div class="content">
								<p>Are you sure you want to delete this?</p>
							</div>
							<div class="actions">
								<div class="ui red basic cancel inverted button">
									<i class="remove icon"></i>
									No
								</div>
								<!-- Delete form -->
								<div class="ui green ok inverted button">
									<i class="checkmark icon"></i>
									Yes
									<form id="delete-form" action="/accounts/<%= account._id %>?_method=DELETE" method="POST">
									</form>
								</div>
							</div>
						</div>
					</div>
				<% } %>
			</div>
		</div>
		
		<!-- Patient Details -->
		<table class="ui definition table">
			<tbody>
				<tr>
					<td class="four wide column">Account #</td>
					<td><%= account.number %></td>
				</tr>
				<tr>
					<td>Patient Name</td>
					<td><%= account.lastName %>, <%= account.firstName %></td>
				</tr>
				<tr>
					<td>Current Balance</td>
					<td>$<%= account.currentBalance.toFixed(2) %></td>
				</tr>
			</tbody>
		</table>
	
		<!-- Comments Section START -->
		<div id="comments" class="ui segment">
			<div class="ui grid">
				<!-- Add New Comment START -->
				<div class="sixteen wide column">
					<div class="ui fluid accordion">
						<!-- ACCORDION TOGGLE -->
						<div class="title">
							<div class="ui two column grid">
								<div class="column">
									<!-- Comments section title -->
									<h3 class="ui header">
										<i class="comment outline icon"></i>
										Comments
									</h3>
								</div>
								<!-- Add new comment button toggles collapsible comment box -->
								<div class="column">
									<button class="ui right floated labeled green icon button">
										<i class="plus inverted icon"></i>
										Add Comment
									</button>
								</div>
							</div>
						</div>
						<!-- COLLAPSIBLE COMMENT BOX -->
						<div class="content">
							<div id="new-comment" class="ui segment">
								<h4>
									Write your comment
									<i class="write icon"></i>
								</h4>
								<form class="ui form transition visible" action="/accounts/<%= account._id %>/comments" method="POST">
									<div class="field">
										<input type="text" value="<%= currentUser.username %>" disabled>
									</div>
									<div class="field">
										<textarea autofocus name="comment[content]" placeholder="Write your comment..." required></textarea>
									</div>
									<button class="ui labeled icon button">
										<i class="comment outline icon"></i>
										Submit  
									</button>
								</form>
							</div>
						</div>
					</div>
					<!-- Add New Comment END -->
				<div class="ui divider"></div>
				</div>

				<!-- Display Comments START -->
				<div class="sixteen wide column">
					<!-- Display message if no comments exist -->
					<% if(account.comments.length === 0) { %>
						<p><em>No comments yet.</em></p>
					<% } %>

					<!-- Loop through comments -->
					<div class="ui comments">
						<% account.comments.forEach(function(comment) { %>
							<div class="comment">
								<div class="content">
									<div class="ui fluid grid">
										<% if(currentUser && currentUser.isAdmin) { %>
											<div class="thirteen wide column">
										<% } else { %>
											<div class="sixteen wide column">
										<% } %>
											<!-- author -->
											<span class="author"><%= comment.author.username %></span>
											<!-- created at -->
											<div class="metadata">
												<span class="date"><%= moment(comment.createdAt).fromNow() %></span>
											</div>
											<!-- content -->
											<div class="text">
												<p><%= comment.content %></p>
											</div>
											<!-- edit button -->
											<% if(currentUser && currentUser.isAdmin) { %>
												<div class="actions">
													<!-- collapsible edit form -->
													<div class="ui fluid accordion">
														<div class="title">
															<a>Edit</a>
														</div>
														<div class="content">
															<div id="edit-comment" class="ui segment">
																<h4>
																	Edit Comment
																	<i class="edit icon"></i>
																</h4>
																<form class="ui form transition visible" action="/accounts/<%= account._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
																	<div class="field">
																		<input type="text" value="<%= comment.author.username %>" disabled>
																	</div>
																	<div class="field">
																		<textarea autofocus name="comment[content]" placeholder="Your comment text..." required><%= comment.content %></textarea>
																	</div>
																	<button class="ui labeled icon button">
																		<i class="comment outline icon"></i>
																		Update  
																	</button>
																</form>
															</div>
														</div>
													</div>
												</div>
											<% } %>
										</div>
										<!-- delete button -->
										<div class="three wide column">
											<% if(currentUser && currentUser.isAdmin) { %>
												<form action="/accounts/<%= account._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
													<button class="ui mini right floated negative labeled icon button delete delete-modal">
														<i class="trash outline icon"></i>
														Delete
													</button>
												</form>
											<% } %>
										</div>
									</div>  <!-- comment fluid grid -->
								</div>  <!-- comment content -->
							</div>  <!-- comment -->
						<% }) %>  <!-- comments for each -->
					</div>  <!-- ui comments -->
				</div>
				<!-- Display Comments END -->
			</div>
		</div>
		<!-- Comments Section END -->
	</div>
</div>

<script type="text/javascript" src="/scripts/show.js"></script>


<script type="text/javascript">
	$(document).ready(function() {
		$(".ui.accordion").accordion();
		$(".ui.modal").modal("attach events", ".delete-modal", "show");

		$(".ui.modal .ok.button").on("click", function() {
			$("#delete-form").submit();
		});
	});
</script>

<% include ../partials/footer %>